:root {
    --border-radius: 16px;
}

.tile-work {
    --color-tile-accent: var(--color-work);
}
.tile-play {
    --color-tile-accent: var(--color-play);
}
.tile-study {
    --color-tile-accent: var(--color-study);
}
.tile-exercise {
    --color-tile-accent: var(--color-exercise);
}
.tile-social {
    --color-tile-accent: var(--color-social);
}
.tile-self-care {
    --color-tile-accent: var(--color-self-care);
}